// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
    margin-bottom: 1em;
}

.main-header{
    text-align: center;
    font-size: $font-xl;
    color: rgb(138, 138, 138);
}