<!-- add another card section -->
<div class="kanban-card__footer__add">
    <div class="kanban-card__footer__add__btn">
      <span class="kanban-card__footer__add__btn__icon"
        ><i class="fas fa-plus"></i
      ></span>
      <span class="kanban-card__footer__add__btn__text"
        >Add another card</span
      >
    </div>
    <!-- 
      <div class="kanban-card__footer__add__input hide">
      <textarea
        type="text"
        class="kanban-card__footer__add__input__field"
        placeholder="Enter a title for this card..."
      ></textarea>
    </div> 
    -->
  </div>
  
  <!-- add another card section -->
  